.body {
    font-family: "Roboto", serif;
}

.nav-ul {
    display: flex;
    list-style: none;
    padding-top: 50px;
}

.header-ul {
    display: flex;
    list-style: none;
}

.nav-a {
    color: white;
}


.qwe {
    display: flex;
}

.container {
    width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: darkslategrey;
}
.header-a {
    margin-right: 92px;
    color: white;
    padding-left: 4px;
    font-family: "Raleway", serif;

}



.nav-li {
    margin-left: 50px;
    margin-right: 50px;
}

.hero-title {
    text-align: center;
    padding-top: 70px;
    font-size: 32px;
}

.about-Max-ul {
    display: flex;
    list-style: none;
    padding-top: 50px;
}

.Max-img {
    width: 394px;
    height: 297px;
    padding-right: 20px;

}

.Max-p {
    font-size: 17px;
    height: 50px;
}


.text-p {
    padding-top: 300px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 21px;
}

.text-p2 {
    padding-bottom: 150px;
    text-align: center;
    font-size: 21px;
}

.footer {
    background-color: darkslategrey;
}

.footer-address {
    color: darkgray;
    padding-top: 11px;
    padding-bottom: 6px;
    
}

.footer-contact {
    color: darkgray;
    padding-top: 6px;
}

.footer-li {
    list-style: none;
}

.footer-a {
    color: white;
    font-family: "Raleway", serif;
}

.footer-p {
    color: darkgray;
    padding-top: 11px;
}


.footer-mail {
    color: darkgray;
    padding-top: 6px;
    padding-bottom: 6px;
}
.hero-title{
font-weight: bold;
animation: FadeIn 2s ease-in-out;
}
@keyframes FadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}