.nav-ul {
    display: flex;
    list-style: none;
    padding-top: 50px;
}

.header-ul {
    display: flex;
    list-style: none;
}

.nav-a {
    color: white;
}


.qwe {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: darkslategrey;
}
.header-a {
    margin-right: 92px;
    color: white;
}



.nav-li {
    margin-left: 50px;
    margin-right: 50px;
}


.main-title {
    text-align: center;
    font-size: 32px;
    padding-top: 70px;
}

.poem-p1 {
    padding-top: 11px;
    font-size: 18px;
}

.poem-p2 {
    padding-top: 11px;
    font-size: 18px;
}

.poem-img1 {
    padding-top: 18px;
    padding-left: 131px;
    width: 800px;
    
}

.poem-img2 {
    padding-top: 18px;
    padding-left: 131px;
    width: 800px;
    
}

.poem-p3 {
    padding-top: 11px;
    font-size: 18px;
}

.poem-ul {
    list-style: none;
}
